<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalUtilities" version="3.0.13" targetFramework="net40" />
  <package id="CloudinaryDotNet" version="1.1.1" targetFramework="net40" />
  <package id="Dapper" version="1.42" targetFramework="net4" />
  <package id="ImapX" version="2.0.0.16" targetFramework="net4" />
  <package id="log4net" version="2.0.3" targetFramework="net4" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net40" />
  <package id="NetOffice.Core.Net40" version="1.7.3.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net4" />
  <package id="OpenPop.NET" version="2.0.6.1116" targetFramework="net4" />
  <package id="Oracle.ManagedDataAccess" version="12.1.021" targetFramework="net4" />
  <package id="Selenium.Support" version="2.53.0" targetFramework="net4" />
  <package id="Selenium.WebDriver" version="2.53.0" targetFramework="net4" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.20.0.0" targetFramework="net40" />
  <package id="WebDriver.GeckoDriver" version="0.19.0" targetFramework="net40" />
</packages>